*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.banner{
    width: 100%;
    height: 100vh;
    background-image: url(/image/landing.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content:space-between;
}

.logo{
    width: 120px;
    cursor: pointer;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-size: 16px;
    font-family: Monte;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
.navbar ul li ::after{
    content:'';
    height: 3px;
    width: 0;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover ::after{
    width: 100%;
}
@font-face {
    font-family: myFont;
    src: url(/fonts/Gloock.ttf);
}
.content{
    
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 100px;
    font-family: myFont;
    margin-top: 80px;
    letter-spacing: 6px;
}
@font-face {
    font-family: Monte;
    src: url(/fonts/Monteserrat.ttf);
}

.content h2{
    font-size: 30px;
    margin-top: 180px;
    font-family:Monte;
    font-weight: 1000;
}

.content p{
    margin: 20px auto;
    font-family: Monte;
    font-weight: 200;
    line-height: 25px;
}

#menu-icon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px)
{
    .navbar{
        padding: 5x 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px)
{
    #menu-icon{
        display: block;
        position: absolute;
        padding-left: 10px;
    }
    .icon{
        position: absolute;
        top: 2%;
        right: 7vh;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar{
        float: right;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 29vh;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        background-color: #733f11;
    }
    .navbar ul{
        display: block;
        margin: auto;
        height: 15vh;
        width: 200px;
        padding: 10px;
       
    }
    .navbar li{
        padding: 10px;
    }
    
.navbar ul li:hover ::after{
    width: 100%;
    display: none
}
    .imgs{
        display: none;
    }
    .navbar.open{
        display: flex;
        transition: all .50s ease;
    }
    .content{
        top: 55%;
    }
    .content h1{
        font-size: 80px;
    }
    .content h2{
        font-size: 20px;
       
    }
    
    .content p{
        font-size: 14px;
       
    }
}
